/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.ssh
/public/themes/
/public/css/
/public/js/
/public/vendor
/public/ckeditor
/public/thumbs
/public/favicons
/public/fonts
/.idea
.DS_Store
*/**/.DS_Store
